<html>
<body>
<h1>Response Page:</h1>

<p>My paragraph.</p>

<p>The weight of the iteam: <%= weight %></p>
<p>The type of iteam: <%= typeOf %></p>
<p>The cost of iteam: <%= cost %></p>

</body>
</html> 